<?php
define("API_SERV",          'http://openapi.youdao.com/'); 
define("APP_KEY",           "1xxxxxxxxxxxxxxe"); //替换为您的应用ID
define("SEC_KEY",           "xxxxxxxxxxxxxxxxxxxxxxxxxW");//替换为您的密钥
define("HTTP_TIMEOUT",      10);
define("API_PATH",          json_encode([
        'trans'         => 'api',
        'sti'           => 'speechtransapi',
        'oti'           => 'ocrtransapi'
    ]));
